# Virtual environment — never upload this
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Streamlit cache
.streamlit/secrets.toml

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Logs
*.log